<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>
   <extension
         id="VioletEditor"
         point="org.protege.editor.core.application.ViewComponent">
      <label
            value="Violet-OWL Editor">
      </label>
      <class
            value="org.protege.owl.examples.tab.VioletEditor">
      </class>
      <category
            value="@org.protege.ontologycategory">
      </category>
   </extension>
   
   
   <extension
         id="ProjectNavigator"
         point="org.protege.editor.core.application.ViewComponent">
      <label
            value="Violet-OWL Project">
      </label>
      <class
            value="org.protege.owl.examples.tab.ProjectNavigator">
      </class>
      <category
            value="@org.protege.ontologycategory">
      </category>
   </extension>
   
   <extension
         id="VioletViewEditor"
         point="org.protege.editor.core.application.ViewComponent">
      <label
            value="Violet-OWL View">
      </label>
      <class
            value="org.protege.owl.examples.tab.VioletViewEditor">
      </class>
      <category
            value="@org.protege.ontologycategory">
      </category>
   </extension>
   
   <extension
         id="VioletActivityDiagramEditor"
         point="org.protege.editor.core.application.ViewComponent">
      <label
            value="Violet-OWL Activity Diagram">
      </label>
      <class
            value="org.protege.owl.examples.tab.VioletActivityEditor">
      </class>
      <category
            value="@org.protege.ontologycategory">
      </category>
   </extension>
   
   <extension
         id="ExampleWorkspaceTab"
         point="org.protege.editor.core.application.WorkspaceTab">
      <label
            value="VIOLET-OWL">
      </label>
      <class
            value="org.protege.owl.examples.tab.ExampleWorkspaceTab">
      </class>
      <index
            value="1">
      </index>
      <editorKitId
            value="OWLEditorKit">
      </editorKitId>
      <defaultViewConfigFileName
            value="Resources/viewconfig-exampleTab.xml">
      </defaultViewConfigFileName>
   </extension>



</plugin>
